{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{% url 'login' %}">
<div class="middle-right">
                        <div class="paratop"><p>LOGIN</p></div>
                        <div class="paramid">
                            <div class='card3'>
                            {% if error %}
                            {{error}}
                            <br/>
                            {% endif %}
                            {% csrf_token %}
                            <i class="fas fa-user" style="font-size:36px;"></i>
                            <br/>
                            Username
                            <br/>
                            <input type ="text" name="username" placeholder="Username" />
                            <br/>
                            Password
                            <br/>
                            <input type="password" name ="password1" placeholder="Password" />
                            <br/>
                            <input type="submit" name="login"  value="Login"/>
                            <br/>
                            </div>
                        </div>
                        </div>
</div>
                            
</form>


{% endblock%}