
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body
{
    
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    background-color:#2f3640;
    display: grid;
    grid-template-columns: 4em auto;
    grid-gap:0em;


}

.body-left
{
    margin: 0 ;
    padding: 0;
    background-color: #063146;
}


.mainbg
{
    display: grid;
    grid-template-rows: 1fr auto;
    margin:  0 ;
    padding:  0;
    background-color:#424446f1;
    color: white;
    grid-row-gap: .5em;
    
}

.top
{
    position: static;
    background-color: #2f3640;
    margin: 0;
    padding: .5em 0 ;
    border: none;
    display: grid;
    grid-template-rows: 2fr auto;
}
        .logo
        {
            margin:0;
            border:none;  
            padding: 0 ;  
        }
            .clear
            {
                margin: 0;
                padding:0;
                
            }

            .clear h1 
            {
                margin: 0em;
                font-weight: bold;
                font-size: 1.7em;
                
            }
            .clear a
            {
                color:white;
            }
          
.mid
{
    margin: 0 ;
    padding: 0;
}

    .middle
    {
        background-color:#2f3640;
        margin: 0;
        padding: 0;
        display: grid;
        grid-column-gap: 0em;
        grid-template-columns: 180px auto;
        grid-auto-rows: minmax(100px,auto);
        text-align: center;


    }

        .middle-left
        {
            
            border: none;
            display: grid;
            grid-template-rows:9em 450px auto ;
            margin: 0;
            padding-left: 0.3em;
            background: #2f3640;
            justify-self: stretch;
            align-items: center;
            
        }
            .detail
            {
                margin-top:2em;
                padding:1em  ;
                justify-self: center;
                align-self: flex-start;
                
            }

            .detail p
            {
                margin:0;
                padding:  0;
                font-size: 1.3em;
                color: white;
                text-align: left;
                justify-self: stretch;
              
            }

            .left-list
            {
                margin: 0;
                padding: .3em ;
                background: #444647;
                justify-self: center;
                align-self: flex-start;
                overflow: hidden;
                                
            }

            .midleft-list 
            {
                height:100%;
                width: 160px;
                border:none;
                background:none;
                display: grid;
                text-align: left;
                background: #009879;
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                
            }
            
            
            
                    .midleft-list header {
                    font-size: 1.3em;
                    color: white;
                    line-height: 4em;
                    text-align: center;
                    background: #007d6496;
                    user-select: none;
                    
                
                    
                    }
                        .midleft-list ul a{
                        display: block;
                        height: 100%;
                        width: 100%;
                        line-height: 3em;
                        font-size: .9em;
                        color: white;
                        padding-left: 1.5em;
                        box-sizing: border-box;
                        transition: all .4s ease;
                        }
                        .midleft-list ul li:hover a{
                        padding-left: 2em;

                        }
                        .midleft-list ul a i{
                        margin-right: .5em;
                        }

                        

            .contact
            {
                margin:0 ;
                padding:1em .5em;
                background: none;
                justify-self: center;
                align-self: flex-start;
            }    
            
            .contact p
            {
                font-size: 1em;
                margin: 0;
                padding:0;
                text-align: left;
            }

            

                
        .middle-right
        {  
            
            border:none;
            background: #2f3640;
            margin: 0;
            padding: 0.3em ;
            display: grid;
            grid-template-rows: 3em auto 2em;
            grid-gap: 0.2em;
            
        }

  /* -------------- for middle-right class of edit.html ----------------------------------- */
  /* ------------------------------------------------------------------------------------ */
        
        
        .paramid
        {
            margin: 0em;
            padding:.5em 0 .5em 0;
            display: grid;
            grid-gap:.5em;
            grid-template-columns: repeat(6,1fr);
            grid-template-columns: repeat(6,1fr);
            grid-auto-columns:minmax(5em,auto);
            grid-auto-rows:minmax(5em,auto);
            background-color: #2f3640;
        }
        .paramid>div
        {
            
            border: #018b70 1px solid;
            margin: 1em;
            border-radius: 1em;
            background-color: #414142c0;
        }
        /* .card1
        {
            grid-column:1/3;
            grid-row:1/3;
            padding:1em;
            border-radius: .5em;
            text-align: center;
            color: white;
            overflow: hidden;
            font-size: 1.2em;
        }
            
            
        .card2
        {
            grid-column:3/5;
            grid-row:1/3;
            padding:1em;
            border-radius: .5em;
            text-align: center;
            color: white;
            overflow: hidden;
            font-size: 1.2em;
        }*/
            
        .card3
        {
            grid-column:2/5;
            grid-row:2/4;
            padding:1em;
            border-radius: .5em;
            text-align: center;
            color: white;
            overflow: hidden;
            font-size: 1.2em;
        } 
            
        .card4
        {   
            padding: 1em .3em 1em 1em;
            grid-column: 1/5;
            grid-row: 1/1;
            overflow: hidden;
            overflow-y:scroll;
            
        }

         .card5
        {   
            padding: 1em .3em 1em 1em;
            grid-column: 1/5;
            grid-row: 2/2;
            overflow: hidden;
            overflow-y:scroll;
        }

        .card6
        {   
            padding: 1em .3em 1em 1em;
            grid-column: 5/7;
            grid-row: 1/1;
            overflow: hidden;
            overflow-y:scroll;
        }

        .card7
        {   
            padding: 1em .3em 1em 1em;
            grid-column: 5/7;
            grid-row: 2/2;
            overflow: hidden;
            overflow-y:scroll;
        }
/* ------------------------------------------------------------------------------------ */
 /* ------------------------------------------------------------------------------------ */
        
        
        .paratop
        {
            margin:0;
            padding-top:1em;

        }
        .paratop p
        {            
            border: none;
            margin: 0;
            padding: 0.1em .2em;
            text-align: left;
            font-size: 1.3em;
            background-color: #009879;
        }

        .parabot
        {
            margin:0;
            padding-bottom: 0.5em;
        }

        .parabot p
        {
            
            border: black 1px dashed;
            margin:0;
            padding: 0;
            text-align: left;
            font-size: .8em;
        }

        .nested-right
        {
            margin: 0;
            padding: 0;
            display: grid;
            grid-gap:.3em;
            grid-template-columns: repeat(6,1fr);
            grid-auto-columns: minmax(7em,auto);
            grid-auto-rows:5em;
            background-color: #2f3640;
        }

        .nested-right>div
        {
            background-color: #424446f1;
        }
       


        .box1
        {
            grid-column: 1/2;
            grid-row: 1/2;
            overflow: hidden;
        }
        .box2
        {
            grid-column:2/3;
            grid-row: 1/2;
            overflow: hidden;
            
        }
        .box3
        {
            grid-column:3/4 ;
            grid-row: 1/2;
            overflow: hidden;
        }
        .box4
        {   
            grid-column: 4/5;
            grid-row: 1/2;
            overflow: hidden;
        }
        .box5
        {   
            grid-column: 5/6;
            grid-row: 1/2;
            overflow: hidden;
        }
        .box6
        {   
            grid-column: 6/7;
            grid-row: 1/2;
            overflow: hidden;
        }
        .box7
        {   
            grid-column: 1/3;
            grid-row: 2/5;
            overflow: hidden;
            
        }
        .box8
        {   
            grid-column: 3/5;
            grid-row: 2/5;
            overflow: hidden;
        }
        .box9
        {   
            grid-column: 5/7;
            grid-row: 2/5;
            overflow: hidden;
        }
        .box10
        {   
            padding: 1em .3em 1em 1em;
            grid-column: 1/4;
            grid-row: 5/8;
            overflow: hidden;
            overflow-y:scroll;
        }
        .box11
        {   
            padding: 1em .3em 1em 1em;
            grid-column: 4/7;
            grid-row: 5/8;
            overflow: hidden;
            overflow-y:scroll;/* for table scrolling */
        }
        .container2
            {
                padding-left:1em;
            }



            .content-table 
            {
                border-collapse: collapse;
                margin:  .5em;
                font-size: 0.9em;
                width:95%;
                border-radius: 5px 5px 0 0;
                overflow: hidden;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              }
              
              .content-table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
                content: icon;
              }
              
              .content-table th
              {
                  justify-self: center;
                  text-align: center;
                  padding: 12px 15px;

              }
              .content-table td {
                padding: 12px 15px;
              }
              .content-table td a
              {
                padding: 10px 10px;
                text-decoration: none;
                color:wheat;
              }
              
              .content-table td:hover{
                cursor: pointer;
                color: #009879;
              }
              
              .content-table tbody tr {
                border-bottom: 1px solid #424446f1;
              }
              
              .content-table tbody tr:nth-of-type(even) {
                background-color: #2f3640c2;
              }
              
              .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
              }
              
              .table-sortable1 th {
                cursor: pointer;
              }
              
              .table-sortable1 .th-sort-asc::after {
                  
                content: "\25b4";
              }
              
              .table-sortable1 .th-sort-desc::after {
                
                content: "\25be";
              }
              
              .table-sortable1 .th-sort-asc::after,
              .table-sortable1 .th-sort-desc::after {
                
                margin-left: 5px;
              }
              
              .table-sortable1 .th-sort-asc,
              .table-sortable1 .th-sort-desc {
                background: rgba(0, 0, 0, 0.1);
              }

            /* now same style for second sortable table */
                        .table-sortable2 th {
                            cursor: pointer;
                        }
                        
                        .table-sortable2 .th-sort-asc::after {
                            
                            content: "\25b4";
                        }
                        
                        .table-sortable2 .th-sort-desc::after {
                            
                            content: "\25be";
                        }
                        
                        .table-sortable2 .th-sort-asc::after,
                        .table-sortable2 .th-sort-desc::after {
                            
                            margin-left: 5px;
                        }
                        
                        .table-sortable2 .th-sort-asc,
                        .table-sortable2 .th-sort-desc {
                            background: rgba(0, 0, 0, 0.1);
                        }
                        



        


.bot
{
    border: none;
    padding: .5em ;
    margin: 0;
    background-color: #2f3640;

}
    .bottom
    {
        margin: 0;
        padding:1em;
        text-align: left;

    }



        footer a
        {
            
            color: white;
            text-decoration: none;
            font-weight: normal;
            font-size: 1.2rem;
            align-self: flex-end;
        }




input[type=button]:hover
{
    background-color: #424446f1;

}

input[type="button"]:active
{
    border: #007d63 2px solid;
    color: #009879;
    cursor: pointer;
    outline:none;
}


.alert {
    height: 2em;
    background: red;
    font-size: medium;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(0,0,0,.5);
    position: fixed;
    right: 20px;
    transition: 0.1s;
    outline: none;
    border:none;
    }
                

.floating-btn
{
    width: 60px;
    height: 60px;
    background: #018b70;
    display: flex;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(0,0,0,.5);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.1s;
    outline: none;
    border:none;

}

.floating-btn:active
{
    background: #007d63;
}


::-webkit-scrollbar
{
    height:6px;
    width:6px;
    border-radius: 5em;
    background-color: #4244461c;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5em;
    background-color: #009879;
    box-shadow:0px 0px 8px rgb(0,0,0,.5);

}